@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --pink: #fc354c;
  --black: #29221f;
  --dark-blue: #13747d;
  --light-blue: #0abfbc;
  --cream: #fcf7c5;
}
.bg-pink {
  background-color: var(--pink);
}
.text-cream {
  color: var(--cream);
}
.bg-cream {
  background-color: var(--cream);
}
.text-dark-blue {
  color: var(--dark-blue);
}
.text-light-blue {
  color: var(--light-blue);
}
.text-pink {
  color: var(--pink) !important;
}

nav {
  /* background-color: rgb(18, 119, 89); */
  /* background-color: var(--black); */
  transition: background-color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

body {
  background-color: #d5e0de;
  transition: all 0.2s ease-in-out;
}